<ion-view view-title="Devices" id="main-view" hide-back-button="true">
    <ion-nav-bar class="bar-positive">
        <ion-nav-back-button class="button-clear">
            <i class="ion-arrow-left-c"></i> Back
        </ion-nav-back-button>
        <ion-nav-buttons side="right">
            <button menu-toggle="right" class="button button-icon icon ion-plus-circled" ng-click="newTodo()"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="main-view padding text-center">
       <ion-list>
           <ion-item class="item-icon-left item-icon-right"  ng-repeat="device in devices">
                       <i class="icon ion-iphone"></i>

                       {{device.name}}<br>
                       {{device.number}}
                       <i ng-click="deleteDevice(device)" class="icon ion-ios-close-outline icon-royal"></i>
           </ion-item>
       </ion-list>
   <button ng-click="logOut()" class="button button-royal">Logout</button>

    </ion-content>
</ion-view>
